/* Custom Styles */

@import "vars";
@import "bootstrap-5.3.3/scss/bootstrap.scss";
@import "bootstrap-icons-1.11.3/bootstrap-icons.scss";
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@function invert($color, $amount: 100%) {
    $inverse: change-color($color, $hue: hue($color) + 180);
    @return mix($inverse, $color, $amount);
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

footer {
    background-color: $colour-background-purple;
    color: $colour-background-white;
    padding: 4rem 0 1rem;

    a {
        color: $colour-background-white;
    }

    h6 {
        font-size: 2rem;
        font-weight: 800;
    }

    i.bi {
        padding: 0 5px 0 0;
    }

    .footer-copyright-details {
        margin: 3rem 0 0;
    }
}
.custom-btn {
    background-color: $colour-background-purple;
        color: $colour-text-white;
}
