/* Custom Styles */

@import "vars";
@import "bootstrap-5.3.3/scss/bootstrap.scss";
@import "bootstrap-icons-1.11.3/bootstrap-icons.scss";
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@function invert($color, $amount: 100%) {
    $inverse: change-color($color, $hue: hue($color) + 180);
    @return mix($inverse, $color, $amount);
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

footer {
    background-color: $colour-background-purple;
    color: $colour-background-white;
    padding: 4rem 0 1rem;

    a {
        color: $colour-background-white;
    }

    h6 {
        font-size: 2rem;
        font-weight: 800;
    }

    i.bi {
        padding: 0 5px 0 0;
    }

    .footer-copyright-details {
        margin: 3rem 0 0;
    }
}

//used in about-us page
.page-about-us {
    .container {
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .introduce-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    
    .text, .image {
        flex: 1;
    }

    .value-section {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 20px;
    }

    .value-item {
        background: #f4f4f4;  // light grey background
        padding: 20px;
        border-radius: 10px;
        width: 30%;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
}



