/* Custom Variables */

$colour-background-white:  #ffffff;
$colour-text-white:  #ffffff;

//////////////new custom variable for background img by Shane//////////////////
$background-img: url("../img/background/main.png");
///////////////////////////////////////////////////////////////////////////////
