/* Custom Variables */

$colour-background-white:  #ffffff;
$colour-text-white:  #ffffff;

//////////////new custom variable for background img on events page by Shane//////////////////
$background-img: url("../img/background/main.png");
///////////////////////////////////////////////////////////////////////////////

//////////////new custom variables for styling buttons on events page by Shane//////////////////
$light-purple: rgba(160, 110, 181, 1);
$less-light-purple: rgba(148, 97, 169, 1);
$dark-purple: rgba(130, 78, 152, 1);

//////////////styling for box shadow///////////////////////////////////////////
$light-purple-less-opacity: rgba(160, 110, 181, 0.8);

///////////////////////////////////////////////////////////////////////////////

//////////////new custom variable for styling span on events page by Shane//////////////////
$no-opcaity-color: rgba(0, 0, 0, 0);
///////////////////////////////////////////////////////////////////////////////////////////
